
section 
{ 
  height: 100vh;
}
/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}
body{
  display:block;
    background-color:grey;
    color:white;
    margin:15px;
}
#navbar{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 100%;
  /* justify-content:
   center; */
   text-align: center;
  /* position: inline-flex; */
  /* border: 2px brown solid;   */
   /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);  */
  z-index: 1;
  /* justify-content: center; */
  padding: 20px;
  background-color:red;
  /* border-radius:25px; */

  
  
  
 
  
}
#welcome-section{
    display: block;
    margin-left:auto;
    margin-right:auto;
    height: auto;
    text-align: center;
    padding-top: 200px;
    /* border: 2px brown solid; */
    width: 85%;
    background-color: black;
    padding-bottom:12%;
    border-radius: 5%;
}
#projects{
  display: block;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  padding-top: 40px;
  /* border: 2px brown solid; */
  padding-left: 20px;
  width: 85%;
  background-color: black;
  padding-bottom:12%;
  border-radius: 5%;
  margin-top: 40px;
  font-size: x-large;
  
}
#project-tile {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:200px;
  height:200px;
  float: left;
  background-color: white;
  color: black;
  padding: 20px;
  border: 2px red solid;
  border-radius: 5px;
  margin: 70px;


  
}

ul{
    list-style:none;
    display: inline;
    justify-content: center;
    text-align: center;
}
li{
    display: inline;
    text-align: center;
    margin: 7%;
}
#bio-info{
  display: block;
  margin-left:auto;
  margin-right:auto;
  border: 2px brown solid;
  max-width: 65%;
  padding:10%;
  border-radius:5px;
  
}
a{
  color: white;
  font: bolder;
  text-decoration: none;
}